:root {
  --color-uno: #757575;
  --color-dos: #212121;
  --color-tres: #ffffff;
  --color-cuatro: #f5f4fa;
  --color-cinco: #2172f3;
  --color-studio: #2196f3;
  --color-background: #2f303a;
  --color-project: #eeeeee;
  --color-info-down: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--color-uno);
  background-color: var(--color-tres);
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  list-style-type: none;
  display: flex;
}

.link {
  text-decoration: none;
}

/*header*/
.header {
  border-bottom: 1px solid #ececec;
  bottom: 0;
  left: 0;
  height: 80px;
}

/* Propiedad icono en page Portfolio*/
.nav__contact img {
  margin-right: 6.5px;
}

.portfolio-page .nav__contact {
  column-gap: 35px;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  display: flex;
  right: 15px;
  top: 32%; /* Ajustar según el diseño */
  transform: translateY(-50%);
}

.nav {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  position: relative;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  color: var(--color-studio);
  margin-right: 93px;
  top: 24px;
  padding-bottom: 38px;
  height: 31px;
  transform: translateY(-50%);
}

.nav__list {
  font-style: normal;
  margin-right: 344px;
  display: flex;
  column-gap: 50px;
  top: 32px;
  transform: translateY(-50%);
  height: 16px;
  padding-bottom: 32px;
}

.nav__contact {
  font-style: normal;
  font-weight: 500;
  column-gap: 50px;
  position: absolute;
  display: flex;
  right: 15px;
  top: 32%;
  height: 16px;
  padding-bottom: 32px;
}

.clic-button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-dos);
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.clic-button.link:hover,
.clic-button.link:focus,
.clic-button.link:active {
  color: var(--color-studio);
  cursor: pointer;
}

.clic-button.link.current {
  color: var(--color-studio);
}

.email-tel.link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--color-uno);
  text-decoration: none;
}

.email-tel.link:hover,
.email-tel.link:focus,
.email-tel.link:active {
  color: var(--color-studio);
}

.link-button:visited {
  color: var(--color-dos);
}

/*Tittle*/
.hero .container {
  background: var(--color-background);
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  font-style: normal;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-tres);
  background: var(--color-background);
  display: block;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

.hero {
  background: var(--color-background);
  text-align: center;
  padding-top: 80px;
  padding-bottom: 180px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*button About*/
.hero-btn {
  font-family: inherit;
  font-style: normal;
  width: 261px;
  height: 50px;
  margin-top: 10px;
  margin-left: 465px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-tres);
  background: var(--color-studio);
  gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  justify-content: center;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-studio);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  color: var(--color-tres);
}

/* --About-- */
.about-characteristic {
  padding: 0px;
  margin-top: 80px;
  margin-left: 50px;
  column-gap: 30px;
}

.develop-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-dos);
  margin: 0 auto;
}

.develop-block {
  height: 122px;
  margin-top: 775px;
  margin-left: 205px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  position: relative;
  left: -40px;
}

.develop-text {
  line-height: 1.71;
  color: var(--color-uno);
  width: 270px;
  margin: auto;
}

/*Areas de Desarrollo*/
.activity .container {
  width: 1200px;
  margin: auto;
}

.activity {
  height: 425px;
  color: var(--color-dos);
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  padding-top: 94px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 94px;
}

.title-h2 {
  font-size: 36px;
  color: var(--color-dos);
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
}

.activity-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  height: 648px;
  margin: 0;
  padding: 0;
}

/* --equipo-- */
.team {
  color: var(--color-dos);
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 120px;
  background: var(--color-cuatro);
}

.team-title {
  text-align: center;
  font-style: normal;
  height: 42px;
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--color-dos);
}

.team-list {
  height: 330px;
  flex-grow: 1;
  column-gap: 37px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;
}

.name {
  font-size: 16px;
  color: var(--color-dos);
  font-weight: 500;
  line-height: 1.18;
  font-style: normal;
  text-align: center;
}

.profession {
  font-size: 16px;
  color: var(--color-uno);
  font-weight: 400;
  line-height: 1.18;
  margin: auto;
  text-align: center;
  letter-spacing: 0.03em;
}

.andres,
.carla,
.mario,
.pablo {
  width: 270px;
  height: 368px;
  margin-top: 0;
  gap: 30px;
  background: var(--color-tres);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: all ease 0.3s; /* función escalar imagen */
}

/* Imagen escalada - trae al frente */
.andres:hover {
  transform: scale(1.05);
}
.carla:hover {
  transform: scale(1.05);
}
.mario:hover {
  transform: scale(1.05);
}
.pablo:hover {
  transform: scale(1.05);
}

/*Page Portfolio*/
.inf-portfolio {
  padding-bottom: 82px;
}

.list-sub-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  color: var(--color-dos);
  border-color: var(--color-cuatro);
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 106px;
  height: 73px;
  column-gap: 8px;
}

.list-sub {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  background: var(--color-cuatro);
  color: var(--color-dos);
  border-color: var(--color-cuatro);
  border-style: none;
  padding: 5px 18px; /* Agregar padding - espaciado vertical */
}

.list-project {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding-bottom: 80px;
}

.img-project {
  background: var(--color-tres);
  border: 1px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 25px;
  border: 1px solid #eeeeee;
}

.img-project:hover,
.img-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.name-project {
  font-family: 'Roboto', sans-serif;
  margin-left: 24px;
  margin-right: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--color-dos);
  letter-spacing: 0.06em;
}

.description {
  font-style: normal;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-uno);
}

.list-sub:hover,
.list-sub:focus {
  background-color: var(--color-studio);
  color: var(--color-tres);
  cursor: pointer;
}

.list-sub.current {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  color: var(--color-tres);
  background-color: var(--color-studio);
  cursor: pointer;
}

.list-sub.current:hover,
.list-sub.current:focus {
  background-color: var(--color-studio);
  color: var(--color-tres);
}

/*footer*/
.footer .container {
  background: var(--color-background);
  width: 1200px;
  margin: auto;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-studio);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--color-background);
  height: 252px;
  align-items: center;
  position: relative; /* Ajusta el valor según sea necesario - lados*/
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.info {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 1.71;
  position: relative; /* Ajusta el valor según sea necesario - lados*/
}

.link-button.address {
  color: var(--color-tres);
}

.link-button.email {
  color: var(--color-info-down);
}

.link-button.tel {
  color: var(--color-info-down);
}

.link-button:hover,
.link-button:focus {
  color: var(--color-studio);
  cursor: pointer;
}

.link-button.address,
.link-button.email,
.link-button.tel {
  text-decoration: none;
}
